<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida | Kurser</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" type="module"></script>
</head>
<body>

    <header>

        <button class="menu-btn open" id="open-menu">
          <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
          </span>
        </button>

        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="cross"></span>
                    <span class="cross"></span>
                </span>
            </button>

            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/addcourse">Lägg till</a></li>
                <li><a href="/about">Om oss</a></li>
            </ul>
        </nav>
    </header>


    <div class="course-container">
        <h1>Dina kurser</h1>

        <% if(courses.length > 0) { %>
            <% courses.forEach((kurs) => { %>
                <div class="course-info">
                    <h3><%= kurs.COURSE_NAME %></h3>
                    <p><strong>Kurskod: </strong><%= kurs.COURSE_CODE %></p>
                    <p><strong>Kurslänk: </strong><%= kurs.COURSE_LINK %></p>
                    <p><strong>Kursprogression: </strong><%= kurs.COURSE_PROGRESSION %></p>
                    <a href="/delete/<%= kurs.ID %>"><button>Radera</button></a>
                </div>
            <% }); %>
       <% }; %>
    </div>

    <div class="btn-container">
       <button id="addcourse-btn" onclick="window.location.href = '/addcourse'">Lägg till kurs</button>
    </div>
</body>
</html>